footer#sec-8a9d.u-align-center.u-clearfix.u-footer.u-grey-80.u-footer
  .u-clearfix.u-sheet.u-sheet-1
    p.u-small-text.u-text.u-text-variant.u-text-1 Exemple de texte. Cliquez pour s&eacute;lectionner l&apos;&eacute;l&eacute;ment de texte.
section.u-backlink.u-clearfix.u-grey-80
  a.u-link(href='https://www.technobel.be' target='_blank')
    span Technobel
  p.u-text
    span created with
  a.u-link(href='' target='_blank')
    span Pug
  | .