doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(charset='utf-8')
  meta(name='keywords' content='Premium Helmets, Shoei Ex-Zero Helmet Review, New Helmet Collection, Neotec II, What&apos;s In The Box, INTUITIVE')
  meta(name='description' content='')
  title Accueil
  link(rel='stylesheet' href='https://capp.nicepage.com/24529cdf22f68c4def87fe2d71138e394269240f/nicepage.css' media='screen')
  link(rel='stylesheet' href='/css/nicepage-site.css' media='screen')
  link(rel='stylesheet' href='/css/Accueil.css' media='screen')
  script.u-script(type='text/javascript' src='https://capp.nicepage.com/assets/jquery-3.5.1.min.js' defer='')
  script.u-script(type='text/javascript' src='https://capp.nicepage.com/24529cdf22f68c4def87fe2d71138e394269240f/nicepage.js' defer='')
  meta(name='generator' content='Nicepage 4.21.5, nicepage.com')
  link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
  script(type='application/ld+json').
    {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "",
    "logo": "https://assets.nicepagecdn.com/c52ec8de/3264673/images/default-logo.png"
    }
  meta(name='theme-color' content='#478ac9')
  meta(property='og:title' content='Accueil')
  meta(property='og:type' content='website')
  script(src='https://www.google.com/recaptcha/api.js?render=6LetPRgiAAAAAGX121nVdkYGTN-RfCXh4wAlbDFh')
  script.
    (function (grecaptcha, sitekey, actions) {
    var recaptcha = {
    execute: function (action, submitFormCb) {
    try {
    grecaptcha.execute(
    sitekey,
    {action: action}
    ).then(function (token) {
    var forms = document.getElementsByTagName('form');
    for (var i = 0; i < forms.length; i++) {
    var fields = forms[i].getElementsByTagName('input');
    for (var j = 0; j < fields.length; j++) {
    var field = fields[j];
    if ('recaptchaResponse' === field.getAttribute('name')) {
    field.setAttribute('value', token);
    break;
    }
    }
    }
    submitFormCb();
    });
    } catch (e) {
    var formError = document.querySelector('.u-form-send-error');
    if (formError) {
    formError.innerText = 'Site Owner Error: ' + e.message.replace(/:[\\s\S]*/, '');
    formError.style.display = 'block';
    }
    }
    },
    executeContact: function (submitFormCb) {
    recaptcha.execute(actions['contact'], submitFormCb);
    }
    };
    window.recaptchaObject = recaptcha;
    })(
    grecaptcha,
    '6LetPRgiAAAAAGX121nVdkYGTN-RfCXh4wAlbDFh',
    {'contact': 'contact'}
    );
header#sec-4c98.u-clearfix.u-header.u-header
  .u-clearfix.u-sheet.u-valign-middle.u-sheet-1
    a.u-image.u-logo.u-image-1(href='https://nicepage.com')
      img.u-logo-image.u-logo-image-1(src='https://assets.nicepagecdn.com/c52ec8de/3264673/images/default-logo.png')
    nav.u-menu.u-menu-dropdown.u-offcanvas.u-menu-1
      .menu-collapse(style='font-size: 1rem; letter-spacing: 0px;')
        a.u-button-style.u-custom-left-right-menu-spacing.u-custom-padding-bottom.u-custom-top-bottom-menu-spacing.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='#')
          svg.u-svg-link(viewbox='0 0 24 24')
            use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#menu-hamburger')
          svg#menu-hamburger.u-svg-content(version='1.1' viewbox='0 0 16 16' x='0px' y='0px' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg')
            g
              rect(y='1' width='16' height='2')
              rect(y='7' width='16' height='2')
              rect(y='13' width='16' height='2')
      .u-nav-container
        ul.u-nav.u-unstyled.u-nav-1
          li.u-nav-item
            a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='/Accueil.html' style='padding: 10px 20px;') Accueil
          li.u-nav-item
            a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='/À-propos-de.html' style='padding: 10px 20px;') &Agrave; propos de
          li.u-nav-item
            a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='/Contact.html' style='padding: 10px 20px;') Contact
      .u-nav-container-collapse
        .u-black.u-container-style.u-inner-container-layout.u-opacity.u-opacity-95.u-sidenav
          .u-inner-container-layout.u-sidenav-overflow
            .u-menu-close
            ul.u-align-center.u-nav.u-popupmenu-items.u-unstyled.u-nav-2
              li.u-nav-item
                a.u-button-style.u-nav-link(href='/Accueil.html') Accueil
              li.u-nav-item
                a.u-button-style.u-nav-link(href='/À-propos-de.html') &Agrave; propos de
              li.u-nav-item
                a.u-button-style.u-nav-link(href='/Contact.html') Contact
        .u-black.u-menu-overlay.u-opacity.u-opacity-70
