mixin motoCard(moto)
 .u-align-center.u-container-style.u-expand-resize.u-layout-cell.u-left-cell.u-size-15.u-size-30-md.u-layout-cell-1
  .u-container-layout.u-valign-middle-sm.u-container-layout-1
   img.u-image.u-image-contain.u-image-1(src=`/images/${moto.Photo}`)
   h3.u-custom-font.u-font-trebuchet-ms.u-text.u-text-1 #{moto.Nom}
   p.u-text.u-text-2 #{moto.Description}
   a.u-border-2.u-border-palette-1-base.u-link.u-text-black.u-link-1(href='https://nicepage.com/website-builder') view more

