include ../Shared/Header.pug
include ../Shared/Mixins/card.pug
section#carousel_0571.u-clearfix.u-white.u-section-2
  .u-clearfix.u-sheet.u-sheet-1
    .u-clearfix.u-expanded-width.u-gutter-20.u-layout-wrap.u-layout-wrap-1
      .u-layout
        .u-layout-row 
         each m in produits
          +motoCard(m)          
section#carousel_5020.u-clearfix.u-image.u-section-3
  .u-clearfix.u-sheet.u-sheet-1
    .u-clearfix.u-expanded-width.u-gutter-18.u-layout-wrap.u-layout-wrap-1
      .u-layout
        .u-layout-row
          .u-container-style.u-image.u-layout-cell.u-left-cell.u-size-30.u-image-1
            .u-container-layout
          .u-container-style.u-layout-cell.u-right-cell.u-size-30.u-layout-cell-2
            .u-container-layout.u-valign-middle.u-container-layout-2
              h2.u-custom-font.u-font-trebuchet-ms.u-text.u-text-1 Shoei Ex-Zero Helmet Review
              h5.u-text.u-text-palette-1-base.u-text-2 AN UPDATED VERSION OF SHOEI&apos;S 1980s&apos; OFF-ROAD HELMET
              p.u-text.u-text-3
                | The off-road helmet with its large, open-visor aperture and extended nose piece was invented by Bell back in the 1970s. Known even then as the Moto 3, every modern, off-road helmet still carries elements of
                | the original&rsquo;s DNA.
                br
                | &nbsp; &nbsp;Back in the day, everybody jumped on the bandwagon and, within a few years, most helmet manufacturers had their own version of a Moto 3; including, of course, players like Arai and
                |                                     Shoei.
              a.u-border-2.u-border-palette-1-base.u-link.u-text-black.u-link-1(href='https://nicepage.com/c/real-estate-website-templates') view more
section#carousel_8a3c.u-clearfix.u-image.u-shading.u-section-5
  .u-clearfix.u-sheet.u-sheet-1
    .u-container-style.u-group.u-group-1
      .u-container-layout.u-valign-middle.u-container-layout-1
        h2.u-custom-font.u-font-trebuchet-ms.u-text.u-text-1 New Helmet Collection
        h5.u-text.u-text-palette-1-base.u-text-2 enjoy the ride
        p.u-text.u-text-3
          | Now, last year, Bell re-introduced their Moto 3, as a way of combatting all those artisanal makers who were copying it. There was, and is, nothing wrong with the Bell helmet, per se. But unlike some of the larger manufacturers who
          | have different head fits for the American, European and Asian markets, Bell produces only one fit. It&rsquo;s a rather round, American fit, and not everybody over here gets on with it. In fact, we reckon nearly 50% of visitors to our
          | shop in Guildford fail to make a Bell work for them. Which is a shame, because no brand has a heritage to equal Bell&rsquo;s.
        a.u-border-2.u-border-palette-1-base.u-link.u-text-body-alt-color.u-link-1(href='https://nicepage.review') view more
section#carousel_37af.u-clearfix.u-white.u-section-6
  .u-clearfix.u-sheet.u-sheet-1
    .u-clearfix.u-expanded-width.u-gutter-18.u-layout-wrap.u-layout-wrap-1
      .u-layout
        .u-layout-row
          .u-container-style.u-layout-cell.u-left-cell.u-size-30.u-layout-cell-1
            .u-container-layout.u-valign-middle.u-container-layout-1
              h2.u-custom-font.u-font-trebuchet-ms.u-text.u-text-1 Neotec II
              h5.u-text.u-text-palette-1-base.u-text-2 Starting at&nbsp;$699.00
              p.u-text.u-text-3
                | An every-occasion helmet with the adaptability to excel no matter where your next journey takes you, the NEOTEC II does it all with style and precision. The convenient &ldquo;flip-up&rdquo; versatility of a true two-in-one helmet combined
                | with next-level aerodynamics, an internal sun shield, the Pinlock&reg; EVO fog-resistant system, and the ability to seamlessly integrate with the all-new SENA SRL Communication System, the NEOTEC II is the pinnacle of modular
                | helmet design for today&rsquo;s hybrid motorcyclists.
              a.u-border-2.u-border-custom-color-2.u-link.u-text-black.u-link-1(href='https://nicepage.com/website-templates') view more
          .u-container-style.u-image.u-layout-cell.u-right-cell.u-size-30.u-image-1
            .u-container-layout
section#carousel_9aa2.u-clearfix.u-image.u-shading.u-section-7
  .u-clearfix.u-sheet.u-sheet-1
    .u-align-center.u-container-style.u-group.u-group-1
      .u-container-layout.u-valign-middle
        h2.u-custom-font.u-font-trebuchet-ms.u-text.u-text-1 What&apos;s In The Box
    .u-clearfix.u-gutter-20.u-layout-wrap.u-layout-wrap-1
      .u-layout
        .u-layout-row
          .u-size-30.u-size-60-md
            .u-layout-col
              .u-container-style.u-expand-resize.u-layout-cell.u-left-cell.u-size-60.u-layout-cell-1
                .u-container-layout.u-valign-middle-sm
                  img.u-image.u-image-contain.u-image-1(src='//images01.nicepage.com/94/d2/94d2b84b8264a0462b009dee803de90c.png')
                  h3.u-align-center.u-custom-font.u-font-trebuchet-ms.u-text.u-text-2 Your Helmet
          .u-size-30.u-size-60-md
            .u-layout-col
              .u-size-30
                .u-layout-row
                  .u-container-style.u-expand-resize.u-layout-cell.u-size-30.u-layout-cell-2
                    .u-container-layout
                      img.u-expanded-width.u-image.u-image-contain.u-image-2(src='//images01.nicepage.com/15/6a/156a33aa09e811cf595121807d26cb8d.png')
                      h3.u-align-center.u-custom-font.u-font-trebuchet-ms.u-text.u-text-3 Chin Curtain
                  .u-align-center-md.u-align-center-sm.u-container-style.u-expand-resize.u-layout-cell.u-right-cell.u-size-30.u-layout-cell-3
                    .u-container-layout.u-container-layout-4
                      img.u-image.u-image-contain.u-image-3(src='//images01.nicepage.com/97/50/97504db561bc960a96d7613cd7dada49.png')
                      h3.u-align-center-lg.u-align-center-xl.u-align-center-xs.u-custom-font.u-font-trebuchet-ms.u-text.u-text-4 Pinlock Evo
              .u-size-30
                .u-layout-row
                  .u-container-style.u-expand-resize.u-layout-cell.u-size-30.u-layout-cell-4
                    .u-container-layout
                      img.u-expanded-width.u-image.u-image-contain.u-image-4(src='//images01.nicepage.com/ff/2c/ff2ca1facae1f7cc96bfd2a438c1d7d0.png')
                      h3.u-align-center.u-custom-font.u-font-trebuchet-ms.u-text.u-text-5 Breath Guard
                  .u-align-center-md.u-container-style.u-expand-resize.u-layout-cell.u-right-cell.u-size-30.u-layout-cell-5
                    .u-container-layout.u-container-layout-6
                      img.u-image.u-image-contain.u-image-5(src='//images01.nicepage.com/8f/e6/8fe633ebfa8de131436c0ff478d5ec47.png')
                      h3.u-align-center-lg.u-align-center-sm.u-align-center-xl.u-align-center-xs.u-custom-font.u-font-trebuchet-ms.u-text.u-text-6 Helmet Bag
section#carousel_0e42.u-clearfix.u-palette-1-base.u-section-8
  .u-clearfix.u-sheet.u-sheet-1
    .u-align-center.u-container-style.u-group.u-group-1
      .u-container-layout.u-valign-middle-lg.u-valign-middle-sm.u-valign-middle-xl.u-valign-middle-xs.u-container-layout-1
        img.u-image.u-image-contain.u-image-default.u-image-1(src='//images01.nicepage.com/6c/c4/6cc4627e101bf92ddf910f98fb639991.png' alt='' data-image-width='2000' data-image-height='708')
        h3.u-custom-font.u-font-trebuchet-ms.u-text.u-text-1 Send us a note and we&rsquo;ll get back to you as quickly as possible.
        .u-form.u-form-1
          form.u-block-60dd-8.u-clearfix.u-form-spacing-15.u-form-vertical.u-inner-form(action='https://forms.nicepagesrv.com/Form/Process' source='email')
            // hidden inputs for siteId and pageId
            .u-form-group.u-form-name
              label.u-form-control-hidden.u-label(for='name-c64a') Name
              input#name-c64a.u-border-1.u-border-white.u-input.u-input-rectangle(type='text' placeholder='Enter your Name' name='name' required='')
            // always visible
            .u-form-email.u-form-group
              label.u-form-control-hidden.u-label(for='email-c64a') Email
              input#email-c64a.u-border-1.u-border-white.u-input.u-input-rectangle(type='email' placeholder='Enter a valid email address' name='email' required='')
            .u-form-group.u-form-message
              label.u-form-control-hidden.u-label(for='message-c64a') Message
              textarea#message-c64a.u-border-1.u-border-white.u-input.u-input-rectangle(placeholder='Enter your message' rows='4' cols='50' name='message' required='')
            .u-form-group.u-form-submit
              a.u-btn.u-btn-submit.u-button-style.u-white.u-btn-1(href='#') submit
              input.u-form-control-hidden(type='submit' value='submit')
            .u-form-send-message.u-form-send-success  Thank you! Your message has been sent. 
            .u-form-send-error.u-form-send-message  Unable to send your message. Please fix errors then try again. 
            input(type='hidden' name='formServices' value='d38f5ad266ea6c2efbe66be756e2a6aa')
            input(type='hidden' name='siteKey' value='6LetPRgiAAAAAGX121nVdkYGTN-RfCXh4wAlbDFh')
            input#siteId(type='hidden' name='siteId' value='3264673')
            input#pageId(type='hidden' name='pageId' value='72110132')
section#sec-bb2a.u-clearfix.u-section-9
  .u-clearfix.u-sheet.u-sheet-1
section#sec-8ced.u-clearfix.u-section-10
  .u-clearfix.u-sheet.u-sheet-1
    .u-clearfix.u-expanded-width.u-layout-wrap.u-layout-wrap-1
      .u-layout
        .u-layout-row
          .u-container-style.u-image.u-layout-cell.u-size-30.u-image-1(data-image-width='400' data-image-height='265')
            .u-container-layout.u-valign-top.u-container-layout-1
          .u-container-align-center.u-container-style.u-layout-cell.u-size-30.u-layout-cell-2
            .u-container-layout.u-valign-middle.u-container-layout-2
              h2.u-align-center.u-text.u-text-default.u-text-1 Exemple de titre
              p.u-align-center.u-text.u-text-default.u-text-2 Exemple de texte. Cliquez pour s&eacute;lectionner l&apos;&eacute;l&eacute;ment de texte.
section#sec-ee00.u-align-center.u-clearfix.u-image.u-shading.u-section-11(src='' data-image-width='256' data-image-height='256')
  .u-clearfix.u-sheet.u-valign-middle.u-sheet-1
    h1.u-text.u-text-default.u-title.u-text-1 INTUITIVE
    p.u-large-text.u-text.u-text-default.u-text-variant.u-text-2
      | Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.
    a.u-btn.u-button-style.u-palette-2-base.u-btn-1(href='#') Read More
include ../Shared/Footer.pug

